# version: "3.9"
services:
  jupyter:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jupyter-notebook
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
      - ./.kaggle:/home/jovyan/.config/kaggle # kaggle APIの設定ファイルをマウント
